:root {
  --Primary: #a10840;
  --secondary: #171931;
  --Aksen: #ffc05a;
  --gradient: linear-gradient(180deg, #71062d 0%, #a10840 163.4%);
  --GrdTrangprnt: linear-gradient(
      89deg,
      #5a0020 50.9%,
      rgba(94, 3, 35, 0.64) 67.91%,
      rgba(100, 8, 41, 0) 98.82%
    ),
    linear-gradient(
      180deg,
      rgba(113, 6, 45, 0.91) 0%,
      rgba(161, 8, 64, 0.91) 163.4%
    );
  --Neutral1: #e8e8e8;
  --Neutral2: #171717;
  --Neutrel3: #242424;
  --White: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* overflow-x: hidden; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--White);
  min-height: 1000px;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: var(--White);
  font-size: 0.86rem;
  margin: 0 1.913rem;
  display: inline-block;
  font-weight: 600;
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.navbar .navbar-nav a:hover {
  color: var(--White);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.25rem solid var(--Aksen);
  transform: scaleX(0);
  transition: ease-out 0.5s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

#humberger-menu {
  display: none;
}

.navbar .navbar-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#login-btn {
  background-color: var(--Aksen);
  width: 8.75rem;
  padding: 0.813rem 1.626rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.508rem;
  border-radius: 6.875rem;
}

#register-btn {
  background-color: var(--White);
  width: 8.75rem;
  padding: 0.813rem 1.626rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.508rem;
  border-radius: 6.875rem;
}

.navbar .navbar-login a {
  color: var(--Neutral2);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.hero {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../Property/property-mom-pregnant.png");
  background-repeat: no-repeat;
  border-radius: 0px 0px 0px 120px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  background: var(
    --GrdTrangprnt,
    linear-gradient(
      89deg,
      #5a0020 50.9%,
      rgba(94, 3, 35, 0.64) 67.91%,
      rgba(100, 8, 41, 0) 98.82%
    ),
    linear-gradient(
      180deg,
      rgba(113, 6, 45, 0.91) 0%,
      rgba(161, 8, 64, 0.91) 120.4%
    )
  );
  border-radius: 0px 0px 0px 120px;
  padding: 50px;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.hero-bg {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -10;
  background: #3d3a4d 97.99%;
}

.hero .content {
  display: flex;
  padding: 1.4rem 7%;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  margin-top: 5rem;
}

.hero .content .headline {
  width: 50%;
}

.hero .content .headline h1 {
  font-size: 4.5em;
  color: var(--White);
  font-weight: 700;
  line-height: 112.5%;
  letter-spacing: 0.15rem;
  text-shadow: 1px 1px 3px var(--secondary);
}

.hero .content .headline h1 span {
  color: var(--Aksen);
}

.hero .content .headline p {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 128.5%;
  letter-spacing: 0.675rem;
  color: var(--White);
}

.hero .content img {
  width: 45rem;
  height: 45rem;
  margin-left: 5rem;
  justify-items: center;
}

.cta {
  min-height: 50vh;
  position: relative;
  background: var(
    --Gradient-Dark,
    linear-gradient(
      99deg,
      #3d3a4d 6.35%,
      #212027 25.86%,
      #1a191c 63.52%,
      #3d3a4d 97.99%
    )
  );
  border-radius: 0px 120px 0px 120px;
  margin: auto;
  top: -0.5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta .content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cta::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
}

.cta::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: var(
    --GrdTrangprnt,
    linear-gradient(
      89deg,
      #5a0020 50.9%,
      rgba(94, 3, 35, 0.64) 67.91%,
      rgba(100, 8, 41, 0) 98.82%
    ),
    linear-gradient(
      180deg,
      rgba(113, 6, 45, 0.91) 0%,
      rgba(161, 8, 64, 0.91) 120.4%
    )
  );
}

.cta .content h1 {
  font-size: 3.75em;
  color: var(--White);
  text-align: center;
}

.cta .content a {
  background-color: var(--Aksen);
  color: var(--Neutral2);
  width: 8.75rem;
  font-weight: 600;
  padding: 0.813rem 1.626rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.508rem;
  border-radius: 6.875rem;
}

/* Tentang Style */

.tentang {
  min-height: 32rem;
  position: relative;
  width: 100vw;
  right: 0;
  top: -1rem;
  left: 0;
  margin: auto;
  background: var(--White);
  background-size: cover;
  border-radius: 0 120px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tentang::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: -1rem;
  right: 0;
  width: 50%;
  height: 100%;
  background: #3d3a4d 97.99%;
}

.tentang-content {
  padding: 1.4rem 7%;
  left: 0;
  right: 0;
}

.tentang .tentang-content h1 {
  text-align: center;
  padding-top: 1.4rem;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 63.36px */
}

.tentang .tentang-content p {
  color: #757575;
  text-align: justify;
  margin-top: 1.25rem;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

/* Review Section */
.review {
  min-height: 32rem;
  position: relative;
  width: 100vw;
  right: 0;
  top: 0;
  left: 0;
  margin: auto;
  background: var(--White);
  background-size: cover;
}

.review .review-content {
  padding: 1.4rem 7%;
  left: 0;
  right: 0;
}

.review .review-content h1 {
  text-align: center;
  padding-top: 1.4rem;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
}

.review .review-content p {
  color: #757575;
  text-align: center;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-top: 1.25rem;
}

.review .review-content .review-container {
  display: flex;
  flex-direction: row;
  padding-top: 2.5rem;
}

.review-content .review-container .review-box {
  min-height: 25rem;
  padding: 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--White);
  border: 1px solid #e7e6e6;
  border-radius: 16px;
  margin: 2rem;
  position: relative;
}

.review-container .review-box .profile {
  display: flex;
  flex-direction: row;
}

.review-container .review-box .profile img {
  width: 3.825rem;
  height: 3.825rem;
}

.review-container .review-box .profile h1 {
  color: var(--Secondary, #171931);
  text-overflow: ellipsis;
  font-size: 1.876em;
  font-style: normal;
  font-weight: 500;
  line-height: 40.131px;
  padding-left: 1.5rem;
  text-align: center;
}

.review-container .review-box p {
  color: #757575;
  text-align: justify;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 1.5rem;
}

.review-container .review-box .rating {
  padding-top: 1.5rem;
}

.review-container .review-box .rating span.star {
  color: var(--Aksen);
  font-size: 3rem;
}

.review-container .review-box .rating span.ratingnumber {
  color: #757575;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1.5rem;
}

.review-content .review-container .review-box:hover {
  background-color: #eeeded;
  border-radius: 1px solid #111;
  transition: linear 0.5s;
}

/* Layanan Nirva Care */
.layanan {
  min-height: 37.5rem;
  position: relative;
  width: 100vw;
  right: 0;
  top: 0;
  left: 0;
  background: var(
    --gradient,
    linear-gradient(180deg, #71062d 0%, #a10840 163.4%)
  );
  background-size: cover;
}

.layanan .layanan-container {
  padding: 1.4rem 7%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.layanan .layanan-container img {
  width: 20rem;
  height: auto;
}

.layanan-container .layanan-content {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.layanan-container .layanan-content h1 {
  color: var(--White);
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 63.36px */
}

.layanan-container .layanan-content p {
  color: var(--color-base-white, #fff);
  text-align: justify;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Accordian */

/* Acordion Start */

.accordion-main {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
}

.accordion-container {
  background-color: var(--White);
  width: auto;
  margin-top: 3rem;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.accordion-box {
  padding: 2rem 0.5rem;
  width: 10rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  background-color: var(--White);
  text-align: center;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.accordion-box:hover {
  background-color: #e0e0e0;
}

.accordion-box .icon img {
  width: 4rem;
  height: auto;
  margin: auto;
}

.accordion-box .title p {
  color: #000000;
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
}

.accordion-main .accordion-container .content {
  width: 0;
  display: block;
  background-color: #ffffff;
  overflow: hidden;
  transition: ease-in 0.5s; /* Adding a transition for smooth effect */
}

.accordion-main .accordion-container .content p {
  padding: 1rem;
  color: #000000;
  font-size: 1em;
}

#btn-layanan:hover {
  stroke-width: 4;
  border-radius: 15px;
  transform: scale(1.5);
  transition: ease-in-out 0.7s;
}

#btn-layanan {
  background-color: transparent;
  margin-left: 7rem;
  margin-top: 0;
  color: var(--Primary);
}

.accordion-main .accordion-container .content.active {
  width: 10rem;
}

/* Acordion End */

/* Tim Style */

.kenalin-kami {
  padding: 1.4rem 7%;
  margin: auto;
}

.kenalin-kami .headline-kenalin h1 {
  font-size: 3em;
  margin-top: 3rem;
  text-align: center;
}

.headline-kenalin p {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
}

/* Carausel Kenalin Start */
.carousel-container {
  padding: 1.4rem 7%;
  width: 100vw;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 80vw;
  position: relative;
}

.carousel :where(.card .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.chevron {
  height: 3rem;
  width: 3rem;
  background: var(--Aksen);
  border-radius: 16px;
  color: var(--White);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#chevron-left {
  left: -3rem;
}

#chevron-right {
  right: -3rem;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  background: var(--White);
  border-radius: 20px;
  min-height: 25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.card .img {
  width: 20.5rem;
  height: 20.5rem;
  border-radius: 20px;
}

.card .img img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid var(--White);
}

.carousel .card h2 {
  color: var(--Black);
  font-size: 1.75em;
  font-weight: 600;
  line-height: normal;
  padding-top: 2rem;
}

.carousel .card span {
  color: var(--Black);
  font-size: 1.25em;
  font-weight: 500;
  line-height: normal;
}

/* Gabung Footer Style */
.footer {
  min-height: 53.125rem;
  margin-top: 2rem;
  width: 100vw;
  right: 0;
  left: 0;
  background: var(--White);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .footer-cta {
  display: flex;
  height: 20rem;
  max-width: 70rem;
  padding: 2rem 0;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 54px;
  z-index: 2;
  background: var(
    --gradient,
    linear-gradient(180deg, #71062d 0%, #a10840 163.4%)
  );
}

.footer-cta .gabung-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 0 2.5rem 0 4.5rem;
  z-index: 2;
}

.footer-cta img {
  width: 25.625rem;
  height: 15.75rem;
  padding: 0 5rem 0 0;
}

.footer-cta .gabung-content h3 {
  color: var(--white, var(--color-base-white, #fff));
  font-size: 2.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 46.8px */
}

.footer-cta .gabung-content p {
  color: var(--white, var(--color-base-white, #fff));
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.footer-cta .gabung-content button {
  display: flex;
  padding: 10px 70px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: var(--Aksen);
  border-radius: 100px;
  color: #000;
  text-align: center;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 120%; /* 24px */
}

.footer .footer-container {
  right: 0;
  left: 0;
  width: 100vw;
  position: relative;
  background: var(--secondary);
  min-height: 42.563rem;
  margin-top: -10rem;
}

.footer .footer-container .main-content {
  left: 0;
  right: 0;
  padding: 1.4rem 7%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 13rem;
}

.footer-container .main-content img {
  width: 8.313rem;
  height: 6.186rem;
}

.footer-container .main-content .footer-content {
  padding-top: 3rem;
  min-height: 12.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content h5 {
  color: var(--White, var(--color-base-white, #fff));
  font-size: 1.25em;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.footer-content p {
  color: var(--White, var(--color-base-white, #fff));
  font-size: 1em;
  font-weight: 400;
  padding-top: 1rem;
  line-height: 120%; /* 19.2px */
}

.footer-content .content-list img {
  height: 2rem;
  width: 2rem;
  margin-top: 1.5rem;
  left: 0;
}

.footer-content .content-list .logo {
  margin-left: 3rem;
}

.footer-content .content-list #appstore {
  margin-top: 2.375rem;
}

.footer-container .footer-team {
  margin-top: 3rem;
  left: 0;
  right: 0;
}

.footer-container .footer-team .hr-line {
  border: 1px solid var(--White);
}

.footer-container .footer-team p {
  margin-top: 1rem;
  padding: 10px;
  color: var(--White, var(--color-base-white, #fff));
  font-size: 1em;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

/* TENTANG PAGE STYLE */
.hero-tentang {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../Property/background-tentang.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.hero-tentang .content {
  padding: 1.4rem 7%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-tentang .content h1 {
  color: var(--color-base-white, #fff);
  text-align: center;
  font-size: 4.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 128.5%; /* 77.1px */
}

#selengkapnya {
  background: var(--Aksen);
  margin-top: 1.5rem;
  padding: 16px 32px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#arrow-down {
  margin-left: 10px;
  stroke-width: 3;
}

/* TENTANG TENTANG STYLE */
.tentang-tentang {
  min-height: 32rem;
  position: relative;
  width: 100vw;
  right: 0;
  left: 0;
  margin: auto;
  background: var(--White);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tentang-tentang .tentang-content {
  padding: 1.4rem 7%;
  left: 0;
  right: 0;
}

.tentang-tentang .tentang-content h1 {
  text-align: center;
  padding-top: 1.913rem;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 63.36px */
}

.tentang-tentang .tentang-content p {
  color: #757575;
  text-align: justify;
  margin-top: 1.25rem;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

/* Tentang Icon Style */
.tentang-icon {
  min-height: 18.75rem;
  left: 0;
  right: 0;
}

.tentang-icon .tentang-icon-container {
  padding: 1.4rem 7%;
  width: 100vw;
  min-height: 9.375rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.tentang-icon-container .box {
  width: 16.75rem;
  height: auto;
  padding: 24px;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tentang-icon-container .box p {
  color: #000;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tentang-icon-container .box img {
  width: 3.25rem;
  height: 3.25rem;
}

/* LAYANAN PAGE STYLE */
.hero-layanan {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../Property/layanan-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.hero-layanan .content {
  padding: 1.4rem 7%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-layanan .content h1 {
  color: var(--color-base-white, #fff);
  text-align: center;
  font-size: 4.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 128.5%; /* 77.1px */
}

#arrow-down {
  margin-left: 10px;
  stroke-width: 3;
}

.layanan-layanan {
  width: 100vw;
  left: 0;
  right: 0;
  margin: auto;
}

.layanan-layanan .layanan-content {
  padding: 1.4rem 7%;
  width: 100vw;
  margin: 132px 0 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layanan-content h1 {
  color: var(--Black, #000);
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 63.36px */
}

.layanan-content p {
  color: var(--grey, #757575);
  font-size: 1.25em;
  font-style: normal;
  margin-top: 8px;
  font-weight: 400;
  line-height: 132%; /* 26.4px */
}

.layanan-layanan .layanan-content .layanan-box {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7.625rem;
  gap: 4.75rem;
}

.layanan-box img {
  width: 26.25rem;
  height: 19.75rem;
}

.layanan-box .content-item {
  display: flex;
  flex-direction: column;
}

.layanan-box .content-item h3 {
  color: var(--Primary);
  font-size: 2.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 52.8px */
  gap: 10px;
}

.layanan-box .content-item p {
  color: var(--grey, #757575);
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 26.4px */
}

.layanan-box .content-item .list {
  display: flex;
  padding: 16px 0px 16px 24px;
  border-left: 4px solid #f2dae6;
  padding-right: 15px;
  margin-right: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  cursor: pointer;
}

.layanan-box .content-item .list h4 {
  color: var(--Black);
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.layanan-box .content-item .list p {
  color: #757575;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}

.layanan-box .content-item .list.active {
  border-left: 4px solid var(--Primary);
  transition: ease-in 0.7s;
}

.layanan-box .content-item .list.active p {
  display: block;
  transition: ease-in 0.7s;
}

/* Layanan item style */

/* PARTNERSHIP PAGE STYLE */
.hero-partnership {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../Property/partnership-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.hero-partnership .content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-partnership .content h1 {
  color: var(--color-base-white, #fff);
  text-align: center;
  font-size: 4.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 128.5%; /* 77.1px */
}

.partnership-partnership {
  width: 100vw;
  min-height: 48.5rem;
  left: 0;
  right: 0;
  background: var(
    --gradient,
    linear-gradient(180deg, #71062d 0%, #a10840 163.4%)
  );
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnership-partnership .content {
  padding: 1.4rem 7%;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 4rem;
}

.partner-container .partner {
  max-width: 38.25rem;
  min-height: 12.438rem;
  background-color: var(--White);
  gap: 24px;
  display: block;
  border-radius: 20px;
  margin: 2rem;
  display: flex;
  justify-content: flex-end;
}

.partner-container .partner .partner-box {
  background-color: var(--White);
  display: flex;
  padding: 60px 28px 24px 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
}

.partner-container .partner .logo {
  display: flex;
  width: 8.125rem;
  height: 8.125rem;
  padding: 4px;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.82);
  filter: blur(0.5px);
  margin-top: -2rem;
  margin-right: 2rem;
}

.partner-container .partner .logo img {
  width: 6.188rem;
  height: 6.188rem;
}

.partnership-partnership .content h1 {
  color: var(--White, var(--color-base-white, #fff));
  text-align: center;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.partner-container .partner-box h3 {
  color: var(--Neutral-2, #171717);
  font-size: 2em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.partner-container .partner-box p {
  color: var(--Neutral-2, #171717);
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 21.12px */
}

#arrow-right {
  stroke-width: 3;
}

/* Kenapa Nirvacare content style */
.kenapa {
  width: 100vw;
  left: 0;
  right: 0;
  background-color: var(--White);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kenapa-content {
  padding: 1.4rem 7%;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 60px;
  margin-bottom: 6rem;
}

.kenapa .kenapa-content h1 {
  color: #000;
  text-align: center;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.kenapa-content .partner-nirva {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.partner-nirva .box-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}

.partner-nirva h3 {
  color: #000;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.partner-nirva .box-container .box-content {
  display: flex;
  flex-direction: row;
}

.partner-nirva .box-container .box-content .list {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.partner-nirva .box-container .box-content p {
  color: #d8d8d8;
  text-align: center;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}

.partner-nirva .box-container .box-content .list h4 {
  color: #000;
  font-size: 2em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 50%;
}

.partner-nirva .box-container .box-content .list p {
  color: var(--gREY, #686868);
  font-size: 1em;
  font-style: normal;
  align-items: left;
  justify-content: space-between;
  font-weight: 400;
  line-height: 132%; /* 21.12px */
}

.kenapa .kenapa-content .hr-line {
  border: 1px solid #d2d2d2;
}

/* STYLE BANTUAN PAGE */
.hero-bantuan {
  min-height: 60vh;
  width: 100vw;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-image: url("../Property/bantuan-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.hero-bantuan .content {
  padding: 1.4rem 7%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.hero-bantuan .content h1 {
  color: var(--White);
  text-align: center;
  font-size: 4.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 128.5%; /* 77.1px */
}

.hero-bantuan .content p {
  color: var(--White);
  text-align: center;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 26.4px */
}

.bantuan-bantuan {
  width: 100vw;
  left: 0;
  right: 0;
}

.bantuan-bantuan .bantuan {
  width: 100vw;
  padding: 1.4rem 7%;
  margin-bottom: 5rem;
}

.bantuan-bantuan .bantuan h1 {
  color: var(--Black);
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 63.36px */
  text-align: center;
  margin-top: 5rem;
}

.bantuan-bantuan .bantuan p {
  color: var(--grey, #757575);
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 26.4px */
  text-align: center;
  padding-top: 10px;
}

/* Accordion faq*/
.bantuan .accordion-wrapper {
  left: 0;
  right: 0;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.accordion-wrapper .accordion {
  display: flex;
  width: 60vw;
  padding: 26.25px 35px;
  flex-direction: column;
  justify-content: space-between;
  gap: 26.25px;
  border-radius: 12px;
  border: 1.458px solid var(--Neutral-1, #e8e8e8);
  background: #f7faff;
  cursor: pointer;
}

.accordion .accordion-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion-heading h3 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

.accordion-wrapper .accordion p {
  color: rgba(60, 60, 67, 0.85);
  font-size: 1.2em;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  display: none;
}

.bantuan-bantuan .bantuan .accordion.active .accordion-heading #chevron-right2 {
  transform: rotate(90deg);
}

.bantuan-bantuan .bantuan .accordion.active p {
  display: block;
}

/* Media Queries */
/* Desktop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }

  body {
    width: 100vw;
  }

  .hero-bg .hero .content img {
    width: 80%;
  }

  #humberger-menu {
    transform: scale(1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.508rem;
    color: var(--White);
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--White);
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--Neutral2);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover {
    color: var(--Aksen);
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
  }
}

/* Tablet */
@media (max-width: 1120px) {
  html {
    font-size: 65%;
  }

  body {
    width: 100vw;
  }

  .hero-bg .hero .content img {
    width: 65%;
  }

  #humberger-menu {
    transform: scale(1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.508rem;
    color: var(--White);
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--White);
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--secondary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
  }

  .wrapper .carousel {
    grid-auto-columns: calc(100% / 2);
  }
}

/* Hero Content */
@media (max-width: 1082px) {
  .hero-bg .hero .content {
    display: flex;
    flex-direction: column;
  }
  .hero-bg .hero .content img {
    width: 45%;
    height: 45%;
    padding-top: 5rem;
  }

  #tim-box3 {
    overflow: hidden;
  }

  #btn-layanan {
    padding-bottom: 1rem;
    transform: scale(1.5);
  }
}

/* Review */
@media (max-width: 790px) {
  .review .review-content .review-container {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
  }

  .hero-bg .hero .content img {
    width: 55%;
    height: 55%;
  }

  .review-content .review-container .review-box {
    min-height: 25rem;
    padding-bottom: 2rem;
  }

  .review-container .review-box .rating {
    padding-bottom: 2rem;
  }

  .layanan .layanan-container img.layanan-logo {
    display: none;
  }

  .accordion-main .accordion-container .accordion-box {
    width: 8rem;
  }

  .accordion-main .accordion-container .accordion-box .icon img {
    width: 50%;
  }

  #btn-layanan {
    padding-bottom: 1rem;
    transform: scale(1.5);
  }

  .wrapper .carousel {
    grid-auto-columns: calc(100%);
  }
}

/* Phone */
@media (max-width: 580px) {
  html {
    font-size: 50%;
  }

  .footer-cta img {
    width: 60%;
    height: 60%;
  }

  .tim-box {
    overflow: hidden;
  }
  .footer-container .main-content .footer-content {
    padding-top: 3rem;
    min-height: 12.375rem;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 180%;
  }

  .footer-cta img {
    display: none;
  }

  .footer-content .content-list {
    margin-bottom: 3rem;
  }

  .kenapa-content .partner-nirva {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .partner-nirva .box-container .box-content .list p {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .partner-nirva h3 {
    margin-bottom: 3rem;
    margin-top: -12rem;
  }

  .partner-nirva .hr-line {
    display: none;
  }

  .partner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8.063rem;
  }

  .kenapa-content {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8.75rem;
    margin: auto;
    padding-top: 6rem;
  }

  .partner-nirva .box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
  }

  .layanan-layanan .layanan-content .layanan-box img {
    display: none;
  }
}
